.about-event-container {
}
.about-event-title {
  text-align: center;
  font-size: 50px;
  margin-block: 2em;
}
.about-event-section {
  display: flex;
  flex-flow: row nowrap;
  outline: 1px solid;
  margin-inline: auto;
  justify-content: center;
  text-align: center;
}

.about-event-pictures {
  flex-basis: 12.5%;
  outline: 1px solid;
  background-color: beige;
}

.about-event-content {
  flex-basis: 50%;
  outline: 1px solid;
  padding: 1em 2em;
}

.about-title {
  margin-block: 1em;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}

.about-paragraph {
  font-size: 22px;
}

.pictures {
  outline: 1px solid;
  aspect-ratio: 1;
  width: 200px;
  transform: rotateZ(90deg);
}
